################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/OzonParser/bin/
/OzonParser/obj/
/build/
bin/
obj/
Debug/
Release/
*.vs
.vs